header {
  height: 66px;
  border-bottom: 1px solid #fff;
  background-color: #6d1113;
  overflow: hidden;
  .ht-header-left {
    float: left;
    h1 {
      font-size: 26px;
      font-weight: normal;
      color: #ededeb;
      padding-left: 20px;
      letter-spacing: 2px;
      i {
        font-size: 26px;
      }
    }
  }
  .ht-header-right {
    float: right;
    margin-top: 8px;
    margin-right: 10px;
    img {
      // width: 50px;
      height: 50px;
      padding: 0 4px 0 18px;
    }
    a {
      cursor: pointer;
      padding-left: 16px;
      color: #fff;

      &:hover {
        color: #c9da2f;
      }
      i {
        padding-left: 6px;
      }
    }
    em {
      color: #fff;
      i {
        cursor: pointer;
      }
    }
  }
}
header .ht-header-right a {
  text-decoration: none;
}
.ht-menu {
  width: 16%;
  float: left;

  height: 1000px;
  background-color: #282b34;
  a {
    display: inline-block;
    width: 100%;
    height: 66px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    line-height: 66px;
    text-align: center;
    border-bottom: 1px solid #fff;
    i {
      font-size: 20px;
      padding-right: 8px;
    }
  }
  .active {
    color: #ededeb;
    background-color: #797474;
  }
}

.ht-body {
  width: 84%;
  overflow: hidden;
  background-color: #fff;
  height: 1000px;
  .ht-nav {
    height: 50px;
    border-bottom: 1px solid #6d1113;
    margin: 0 10px;
    a {
      color: #0d0d0d;
      display: inline-block;
      line-height: 50px;
      padding-left: 10px;
      list-style: none;
      &:hover {
        color: #6d1113;
      }
    }
  }
  .ht-toolbar {
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    button {
      display: inline-block;
      outline: none;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      font: 16px/100% Arial, Helvetica, sans-serif;
      padding: 9px 10px 8px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      color: #fff;
      border: solid 1px #858383;
      background: #a9a4a4;
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#b7b3b3),
        to(#8f8b8b)
      );
      background: -moz-linear-gradient(top, #a8a7a7, #8f8b8b);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#00678e');
      &:hover {
        background: #afa7a7;
        background: -webkit-gradient(
          linear,
          left top,
          left bottom,
          from(#918f8f),
          to(#c7c0c0)
        );
        background: -moz-linear-gradient(top, #918f8f, #c7c0c0);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00678e', endColorstr='#0095cc');
      }
    }

    input {
      margin-left: 20px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 3px;
      padding-left: 5px;
      height: 36px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border-color ease-in-out 0.15s,
        -webkit-box-shadow ease-in-out 0.15s;
      -o-transition: border-color ease-in-out 0.15s,
        box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }
    input:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(102, 175, 233, 0.6);
    }

    i {
      font-size: 20px;
      color: #888585;
      position: relative;
      right: 30px;
      top: 2px;
      cursor: pointer;
      color: #797474;
    }
  }
  table {
    width: 96%;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    td button {
      background: #838487;
      cursor: pointer;
      color: white;
      border: none;
      box-shadow: -1px -2px -2px 0 #666;
      border-radius: 3px;
      font-size: 16px;
      &:hover {
        background-color: #6d1113;
      }
      .btn {
        position: relative;
        top: -1;
        padding: 0px;
      }
    }
  }

  table td,
  table th {
    border: 2px solid #fff;
    border-right: none;
    border-left: none;
    color: #393d49;
    height: 46px;
    // background-color: #dfe0e4;
  }

  table thead th {
    background-color: #9ab0e6;
    background-color: #beb3b3;
    color: white;
    width: 20%;
    text-align: center;
  }

  table tr:nth-child(odd) {
    background: #fff;
  }

  table tr:nth-child(even) {
    background: #f5fafa;
  }

  .ht-pagination {
    display: flex;
    align-items: center;
    float: right;
    margin: 20px 30px 0 0;
    ul {
      display: flex;
      padding-left: 1px;
    }

    &__item {
      border: 1px solid #6d1113;
      margin-left: -1px;
      &.prev {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      &.next {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      &#active {
        background-color: #7a7878;
      }
      a {
        display: block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 20px;
        color: #414141;
        text-decoration: none;
      }
    }
  }
}
.ht-body .ht-nav a {
  text-decoration: none;
}

// 登录注册
.bodybg {
  background-color: #6d1113;
}
.ht-login {
  margin: 10% auto;
  width: 450px;
  text-align: center;
  background-color: #fff;
  padding-top: 10px;
  h2 {
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 14px;
  }
}
.login-body {
  width: 100%;
  padding-bottom: 20px;
  .form-group {
    text-align: center;
    position: relative;
    margin: 15px 0;
    input {
      padding: 14px 76px;
      background-color: #ecf0f1;
      border: 1px solid #ccc;
      border-radius: 4px;
      letter-spacing: 2px;

      &:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
          0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
          0 0 8px rgba(102, 175, 233, 0.6);
      }
    }
    .iconfont {
      position: absolute;
      line-height: 44px;
      font-size: 18px;
      border-right: 1px solid #e3e4e4;
      top: 2px;
      left: 74px;
      width: 50px;
      text-align: center;
      display: block;
    }
  }
  button {
    display: block;
    width: 68%;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background: #282b34;
    border-radius: 4px;
    border: none;
    margin: 8px 0 0px 70px;
    &:hover {
      background: #6d1113;
    }
  }
}

//修改头像
.avatar-box {
  position: relative;
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 20px 0 0 20px;
}

.avatar-box input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.avatar-box i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200px;
}
#myXiu {
  margin: 42px 0 0 146px;
}
